<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdey.impl.mapper.ImportlogMapper">
    <resultMap id="BaseResultMap" type="com.sdey.api.po.Importlog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="importDateStr" jdbcType="VARCHAR" property="importdatestr"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="fenpeistate" jdbcType="INTEGER" property="fenpeistate"/>
    </resultMap>

    <select id="selectByDate" resultType="int">
     select uid from importlog where importDateStr=#{importDateStr}
  </select>
    <select id="getKeFenPeiList" resultType="com.sdey.api.vo.ext.GroupImportlogForFenPei">
        SELECT a.importDateStr,count(1) as count FROM importlog a left join patients b
        on a.importDateStr=b.importDateStr where a.fenpeistate is null group by a.importDateStr
    </select>
    <update id="updateFenpeiWorkState">
        update importlog set fenpeistate=1 where importDateStr=#{importDateStr}
    </update>
    <select id="selectAllByYear" resultMap="BaseResultMap">
          select * from importlog where importDateStr like CONCAT(#{thisYear},'%')  order by uid desc
    </select>
    <select id="selectAllForOrderID" resultMap="BaseResultMap">
        select * from importlog order by uid desc
    </select>
    <select id="getyiFenpeiList" resultMap="BaseResultMap">
        select * from importlog where fenpeistate is not null
    </select>
</mapper>