<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdey.impl.mapper.MsgmodelMapper">
  <resultMap id="BaseResultMap" type="com.sdey.api.po.Msgmodel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="msgcontent" jdbcType="VARCHAR" property="msgcontent" />
    <result column="managerid" jdbcType="INTEGER" property="managerid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <select id="selectAllForOrder" resultMap="BaseResultMap">
     SELECT  uid,title,createtime,msgcontent from msgmodel order by createtime desc
  </select>
</mapper>